In [ ]:
import pandas as pd
import regex as re

In [ ]:
# Reading the results from the webscrapping 
#df = pd.read_csv('/content/drive/MyDrive/WILD CODE SCHOOL/PROJECT 4 - WEBSCRAPING/Amazon_WebScrapping/Trial on 3 books - Python/Test')
#df

In [ ]:
df_1 = pd.read_csv('/content/drive/MyDrive/WILD CODE SCHOOL/PROJECT 4 - WEBSCRAPING/Amazon_WebScrapping/Results/Result_ISBN_random_100_1.csv')
df_2 = pd.read_csv('/content/drive/MyDrive/WILD CODE SCHOOL/PROJECT 4 - WEBSCRAPING/Amazon_WebScrapping/Results/Result_ISBN_random_500_2.csv')
df_3 = pd.read_csv('/content/drive/MyDrive/WILD CODE SCHOOL/PROJECT 4 - WEBSCRAPING/Amazon_WebScrapping/Results/Result_ISBN_random_500_3.csv')
df_4 = pd.read_csv('/content/drive/MyDrive/WILD CODE SCHOOL/PROJECT 4 - WEBSCRAPING/Amazon_WebScrapping/Results/Result_ISBN_random_500_4.csv')
df_5= pd.read_csv('/content/drive/MyDrive/WILD CODE SCHOOL/PROJECT 4 - WEBSCRAPING/Amazon_WebScrapping/Results/Result_ISBN_random_100_2.csv')

In [ ]:
# Concat the 5 datasets webscrapred
df_webscrap_final = pd.concat([df_1, df_2, df_3, df_4,df_5], ignore_index=True)

In [ ]:
#df_webscrap_final['result'].apply(lambda row:eval(row)[0] == []).sum() #nr of rows without webscra

319

In [ ]:
df_webscrap_final.shape

,Unnamed: 0,ISBN,result
0,0,3596169658,([' Paperback \n $8.30 \n\n\n \n 2 Us...
1,1,1417784849,"(["" Kindle & Comixology \n $6.49 \n \n Re..."
2,2,0743284674,"([], '0743284674')"
3,3,0399149147,([' Kindle \n $8.99 \n \n \n\n ...
4,4,0891341137,([' Kindle \n $15.99 \n \n \n\n ...
...,...,...,...
4646,2786,2841720713,([' Paperback \n $15.51 \n\n\n \n 3 U...
4647,2787,0783886128,([' Kindle \n $5.99 \n \n \n\n ...
4648,2788,0606054154,"([], '0606054154')"
4649,2789,2080703943,([' Kindle \n $1.99 \n \n \n\n ...
4650,2790,1421517477,([' Kindle & Comixology \n $6.49 \n \n \...

In [ ]:
df_webscrap_final.columns

Index(['Unnamed: 0', 'ISBN', 'result'], dtype='object')

In [ ]:
# Droping the unnamed column
df_webscrap_final = df_webscrap_final.drop(['Unnamed: 0'], axis=1)

In [ ]:
df_webscrap_final

            ISBN                                             result
0     3596169658  (['  Paperback  \n $8.30  \n\n\n   \n     2 Us...
1     1417784849  (["  Kindle & Comixology  \n $6.49  \n   \n Re...
2     0743284674                                 ([], '0743284674')
3     0399149147  (['  Kindle  \n $8.99  \n   \n  \n\n          ...
4     0891341137  (['  Kindle  \n $15.99  \n   \n  \n\n         ...
...          ...                                                ...
4646  2841720713  (['  Paperback  \n $15.51  \n\n\n   \n     3 U...
4647  0783886128  (['  Kindle  \n $5.99  \n   \n  \n\n          ...
4648  0606054154                                 ([], '0606054154')
4649  2080703943  (['  Kindle  \n $1.99  \n   \n  \n\n          ...
4650  1421517477  (['  Kindle & Comixology  \n $6.49  \n   \n  \...

[4651 rows x 2 columns]

# Regex part

In [ ]:
# Code to grab the paperback and the price 
re.findall('Paperback\s\s.n\s.[[0-9]+\.[0-9]+', ['0'][1])

# Same for hardcover
re.findall('Hardcover\s\s.n\s.[[0-9]+\.[0-9]+', df['0'][2])

In [ ]:
# Isolate the price of the paperback
re.findall('(?<=Paperback\s\s.n\s.)[[0-9]+\.[0-9]+', df['0'][1])

# Same for hardcover 
result = re.findall('(?<=Hardcover\s\s.n\s.)[[0-9]+\.[0-9]+', df['0'][2])

# Function to grab the price + format of the book from the webscraped data

In [ ]:
# Get the price for the Paperback 
def get_price(book):
  return(re.findall('(?<=Paperback\s\s.n\s.)[[0-9]+\.[0-9]+', book))

df_webscrap_final['price_paperback'] = list(map(get_price,df_webscrap_final['result']))

# Get the price for the Hardcover:
def get_price_hardcover(book):
  return(re.findall('(?<=Hardcover\s\s.n\s.)[[0-9]+\.[0-9]+', book))
  
df_webscrap_final['price_hardcover'] = list(map(get_price_hardcover,df_webscrap_final['result']))

In [ ]:
df_webscrap_final

,ISBN,result,price_paperback,price_hardcover
0,3596169658,([' Paperback \n $8.30 \n\n\n \n 2 Us...,[8.30],[]
1,1417784849,"(["" Kindle & Comixology \n $6.49 \n \n Re...",[9.99],[]
2,0743284674,"([], '0743284674')",[],[]
3,0399149147,([' Kindle \n $8.99 \n \n \n\n ...,"[18.06, 8.99]",[1.65]
4,0891341137,([' Kindle \n $15.99 \n \n \n\n ...,[22.99],[]
...,...,...,...,...
4646,2841720713,([' Paperback \n $15.51 \n\n\n \n 3 U...,"[15.51, 20.00]",[]
4647,0783886128,([' Kindle \n $5.99 \n \n \n\n ...,[23.95],[18.99]
4648,0606054154,"([], '0606054154')",[],[]
4649,2080703943,([' Kindle \n $1.99 \n \n \n\n ...,"[12.95, 11.00]",[]
4650,1421517477,([' Kindle & Comixology \n $6.49 \n \n \...,[46.54],[]

In [ ]:
# Delete the [] from the results 
df_webscrap_final['price_hardcover'] = df_webscrap_final['price_hardcover'].str[0]
df_webscrap_final['price_paperback'] = df_webscrap_final['price_paperback'].str[0]

In [ ]:
# Turn those data to float
df_webscrap_final['price_paperback'] = df_webscrap_final['price_paperback'].astype(float)
df_webscrap_final['price_hardcover'] = df_webscrap_final['price_hardcover'].astype(float)

In [ ]:
df_webscrap_final

,ISBN,result,price_paperback,price_hardcover
0,3596169658,([' Paperback \n $8.30 \n\n\n \n 2 Us...,8.30,NaN
1,1417784849,"(["" Kindle & Comixology \n $6.49 \n \n Re...",9.99,NaN
2,0743284674,"([], '0743284674')",NaN,NaN
3,0399149147,([' Kindle \n $8.99 \n \n \n\n ...,18.06,1.65
4,0891341137,([' Kindle \n $15.99 \n \n \n\n ...,22.99,NaN
...,...,...,...,...
4646,2841720713,([' Paperback \n $15.51 \n\n\n \n 3 U...,15.51,NaN
4647,0783886128,([' Kindle \n $5.99 \n \n \n\n ...,23.95,18.99
4648,0606054154,"([], '0606054154')",NaN,NaN
4649,2080703943,([' Kindle \n $1.99 \n \n \n\n ...,12.95,NaN
4650,1421517477,([' Kindle & Comixology \n $6.49 \n \n \...,46.54,NaN

In [ ]:
# Get the type to verificate
type(df['price_hardcover'][0])

In [ ]:
df_webscrap_final[df_webscrap_final['ISBN']=='0399149147']

,ISBN,result,price_paperback,price_hardcover
3,0399149147,([' Kindle \n $8.99 \n \n \n\n ...,18.06,1.65

In [ ]:
print(*df_webscrap_final[df_webscrap_final['ISBN']=='0399149147']['result'])

(['  Kindle  \n $8.99  \n   \n  \n\n                                    Read with Our  Free App  \n\n    ', '  \n\n\n  \n Audiobook    \n  \n\n $0.00  \n\n\n \n\n\n   \n \n \n Free with your Audible trial    \n ', '  Hardcover  \n $1.65  \n\n\n   \n     18 Used from $1.65      ', '  Paperback  \n $18.06  \n\n\n   \n     9 Used from $3.04         8 New from $15.49      ', '  Mass Market Paperback  \n $8.99  \n\n\n   \n     155 Used from $0.99         17 New from $4.04         3 Collectible from $7.99      ', '  Audio CD  \n $19.99  \n\n\n   \n     20 Used from $0.10         15 New from $12.90         1 Collectible from $11.99      '], '0399149147')

In [ ]:
df_webscrap_final.to_csv('price_full_data_webscrap.csv', index=False)